<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Codility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB75BAB51CD0C34B00663431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB75BACE1CD0C34B00663431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB75BAD91CD0C34B00663431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
